/* ----------------------------------------------------------------
	Canvas: Demo Landing 2
	Version: 1.0
-----------------------------------------------------------------*/

:root {
  --themecolor: #f7c25e;
  --themecolorrgba: 247, 194, 94;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  color: #333;
}

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.h-gradient-red-yellow {
  background-image: linear-gradient(black, black);
}

.gradient-red-yellow,
.h-gradient-red-yellow:hover {
  background-image: -webkit-linear-gradient(
    110.78deg,
    rgb(118, 230, 80) -1.13%,
    rgb(249, 214, 73) 15.22%,
    rgb(240, 142, 53) 32.09%,
    rgb(236, 81, 87) 48.96%,
    rgb(255, 24, 189) 67.94%,
    rgb(26, 75, 255) 85.34%
  ) !important;
  background-image: linear-gradient(
    110.78deg,
    rgb(118, 230, 80) -1.13%,
    rgb(249, 214, 73) 15.22%,
    rgb(240, 142, 53) 32.09%,
    rgb(236, 81, 87) 48.96%,
    rgb(255, 24, 189) 67.94%,
    rgb(26, 75, 255) 85.34%
  ) !important;
}

.overflow-visible {
  overflow: visible !important;
}
.rounded-10 {
  border-radius: 10px !important;
}

#content p {
  line-height: 1.5;
}

@media (min-width: 992px) {
  .section,
  #footer .footer-widgets-wrap {
    margin: 100px 0;
    padding: 100px 0;
  }
}

.emphasis-title h1 {
  font-size: calc(8.82629vw + 12.9014px) !important;
  font-weight: 900;
}

.button-hero {
  padding: 23px 48px !important;
  font-size: 1rem;
  border-radius: 50px;
  box-shadow: 0px 13px 18px -14px rgba(0, 0, 0, 0.35);
}

.button.button-reveal.text-end i {
  opacity: 0;
  left: auto;
  right: 32px;
  background-color: transparent;
  transition: all 0.3s ease !important;
}

.button:hover.button-reveal.text-end i {
  opacity: 1;
  right: 18px;
  transform: translateX(-10px);
}

.counter.counter-xlarge {
  font-size: 4.5rem;
  letter-spacing: -2px;
}

.counter + span {
  font-size: 1.125rem;
  line-height: 1.3;
  margin: 0 0 0 12px;
  text-transform: lowercase;
}

.testi-content p {
  position: relative;
  font-style: normal;
  font-size: 1.25rem;
  margin-bottom: 25px;
}

.testimonials-carousel::before {
  content: '\e7ad';
  font-family: font-icons;
  position: absolute;
  top: -20px;
  left: 10px;
  font-size: 5rem;
  color: #eee;
  z-index: 0;
}

.testi-meta img {
  width: 40px !important;
  margin-right: 10px;
}

.testi-meta::before {
  display: none;
}

#oc-testi.owl-carousel .owl-dots {
  text-align: left;
  margin-left: 20px;
}

.card-icon {
  position: absolute;
  top: -25px;
  right: -15px;
  width: calc(20px + 5vw);
  max-width: 50px;
}

@media (max-width: 575px) {
  .card-icon {
    top: 15px;
    right: 20px;
  }
}

.team-image {
  position: relative;
  top: 0;
  border-radius: 10px;
  border: 3px solid black;
  transition: ease 0.5s;
}

.team-image img {
  transition: ease 1s;
}

.team-image:hover {
  top: -5px;
  background-color: black;
}

.invert-image {
  filter: invert(1);
}

.h-invert-image img {
  transition: ease 0.3s;
}

.h-invert-image:hover img {
  filter: invert(1);
}

.translatey-3,
.h-translatey-3:hover {
  transform: translateY(-3px) !important;
}

.tf-ts {
  -webkit-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}

#oc-services.owl-carousel .card-body img {
  width: 50px;
}

.accordion-header {
  padding: 1.25rem 0;
  font-size: 1.125rem;
  font-weight: 700;
  border-top: 1px dotted #d5d5d5 !important;
  color: #aaa;
}

.accordion-content {
  padding-bottom: 2rem;
  padding-left: 30px;
}

.accordion-header.accordion-active {
  color: #222;
}

/* Border Form Design
  ---------------------------------------------------------------------------- */

form label {
  text-transform: none;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0;
}

.border-form-control {
  height: 42px;
  padding: 0;
  font-size: 1.25rem;
  background-color: transparent !important;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.07);
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 7%, 0);
    transform: translate3d(0, 7%, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 7%, 0);
    transform: translate3d(0, 7%, 0);
  }
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -10px;
}
ul.dashed > li:before {
  content: '- ';
  text-indent: -5px;
}

ul.star {
  text-decoration: none;
  margin-left: 15px;
  list-style: none;
}

ul.star li::before {
  content: '\2728';

  font-weight: bold;
  display: inline-block;
  width: 2em;
  margin-left: -1em;
}

ul.not-styled {
  text-decoration: none;
  list-style: none;
}

/*-------------------------------
Wallet style
--------------------------------*/

.wallet-adapter-button {
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 50px !important;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Heebo', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14.5px;
  font-weight: 500;
  text-transform: uppercase;
}

.wallet-adapter-button:hover {
  background-color: #333;
  color: white !important;
}

.wallet-adapter-button-trigger {
  background-color: #4e44ce;
}

.wallet-adapter-button:not([disabled]):focus-visible {
  outline-color: white;
}

.wallet-adapter-button:not([disabled]):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15) 0 0);
}

.wallet-adapter-button[disabled] {
  background: #404144;
  color: #999;
  cursor: not-allowed;
}

.wallet-adapter-button-end-icon,
.wallet-adapter-button-start-icon,
.wallet-adapter-button-end-icon img,
.wallet-adapter-button-start-icon img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px !important;
  height: 24px !important;
}

.wallet-adapter-button-end-icon {
  margin-left: 8px;
}

.wallet-adapter-button-start-icon {
  margin-right: 8px;
}

.wallet-adapter-collapse {
  width: 100%;
}

.wallet-adapter-dropdown {
  position: relative;
  display: inline-block;
}

button.wallet-adapter-dropdown-list {
  position: absolute;
  z-index: 99;
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 10px;
  padding: 10px;
  top: 100%;
  right: 0;
  margin: 0;
  list-style: none;
  background: white /* #2c2d30 */;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease, transform 200ms ease, visibility 200ms;
}

.wallet-adapter-dropdown-list-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}

button.wallet-adapter-dropdown-list-item {
  background: white !important/* #404144 */;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  height: 37px;
  color: white;
}

.wallet-adapter-dropdown-list-item:not([disabled]):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15) 0 0);
}

.wallet-adapter-modal-collapse-button svg {
  align-self: center;
  fill: #999;
}

.wallet-adapter-modal-collapse-button.wallet-adapter-modal-collapse-button-active
  svg {
  transform: rotate(180deg);
  transition: transform ease-in 150ms;
}

.wallet-adapter-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity linear 150ms;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1040;
  overflow-y: auto;
}

.wallet-adapter-modal.wallet-adapter-modal-fade-in {
  opacity: 1;
}

.wallet-adapter-modal-button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 6px;
}

.wallet-adapter-modal-button-close:focus-visible {
  outline-color: black;
}

.wallet-adapter-modal-button-close svg {
  fill: black;
  transition: fill 200ms ease 0s;
}

.wallet-adapter-modal-button-close:hover svg {
  fill: #777;
}

.wallet-adapter-modal-logo {
  max-width: 100%;
}

.wallet-adapter-modal-logo-wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background: #fdffff !important;
  margin-bottom: 10px;
  padding: 12px;
}

.wallet-adapter-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wallet-adapter-modal-container {
  display: flex;
  margin: 3rem;
  min-height: calc(100vh - 6rem); /* 100vh - 2 * margin */
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .wallet-adapter-modal-container {
    margin: 1rem;
    min-height: calc(100vh - 2rem); /* 100vh - 2 * margin */
  }
}

.wallet-adapter-modal-wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1050;
  max-width: 400px;
  border-radius: 10px;
  background: white !important;
  font-family: 'Heebo', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding: 40px 20px 20px;
  flex: 1;
  border: 3px solid black;
}

.wallet-adapter-modal-wrapper .wallet-adapter-button {
  width: 100%;
}

.wallet-adapter-modal-wrapper-no-logo {
  padding-top: 30px;
}

.wallet-adapter-modal-title {
  font-weight: 800 !important;
  font-size: 20px;
  line-height: 41px;
  margin-bottom: 27px;
  margin-top: 0;
  width: 100%;
  font-family: 'Heebo' !important;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  background-image: -webkit-linear-gradient(
    110.78deg,
    rgb(118, 230, 80) 25%,
    rgb(249, 214, 73) 35%,
    rgb(240, 142, 53) 45%,
    rgb(236, 81, 87) 55%,
    rgb(255, 24, 189) 65%,
    rgb(26, 75, 255) 75%
  ) !important;
  background-image: linear-gradient(
    110.78deg,
    rgb(118, 230, 80) 25%,
    rgb(249, 214, 73) 35%,
    rgb(240, 142, 53) 45%,
    rgb(236, 81, 87) 55%,
    rgb(255, 24, 189) 65%,
    rgb(26, 75, 255) 75%
  ) !important;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 374px) {
  .wallet-adapter-modal-title {
    font-size: 14px;
  }
}

.wallet-adapter-modal-list {
  margin: 0 0 12px;
  padding: 0;
  width: 100%;
  list-style: none;
}

.wallet-adapter-modal-list li:not(:first-of-type) {
  margin-top: 12px;
}

/*-------------------------
Accordion
--------------------------*/

.accordion-wrapper .accordion-item h3.accordion-title {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 20px;
}

.accordion-wrapper .accordion-item h3.accordion-title button {
  position: relative;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  font-size: 18px;
  font-family: 'Heebo';
  width: 100%;
  text-align: left;
  color: #aaa;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-left: 20px;
}

.accordion-wrapper .accordion-item h3.accordion-title button.active {
  color: #333;
}

.accordion-wrapper
  .accordion-item
  h3.accordion-title
  button
  span.title-wrapper {
  display: block;
  position: relative;
  width: 100%;
}

.accordion-wrapper .accordion-item h3.accordion-title button span.icon-wrapper {
  width: 10%;
  display: flex;
  justify-content: center;
}

.accordion-wrapper .accordion-item h3.accordion-title::before {
  content: 'â“';
  font-size: 14px;
  margin-top: 4px;
  position: absolute;
}

.accordion-wrapper
  .accordion-item
  h3.accordion-title
  button
  span.icon-wrapper
  span.minus {
  width: 24px;
  height: 24px;
}

.accordion-wrapper
  .accordion-item
  h3.accordion-title
  button
  span.icon-wrapper
  span.plus {
  width: 24px;
  height: 24px;
  transform: rotate(90deg);
  transition-timing-function: ease-in;
  transition: all 1s;
}

.accordion-wrapper .accordion-item .accordion-panel .panel-close {
  box-sizing: border-box;
  padding: 0.5rem 1rem 0 1rem;
  opacity: 1;
  width: 100%;
  height: 0;
  overflow: hidden;
  margin-bottom: 10px;
}

.accordion-wrapper .accordion-item .accordion-panel .panel-open {
  overflow: hidden;
  padding: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  opacity: 1;
  width: 100%;
  height: auto;
  transition-timing-function: ease-in;
  transition: all 0.3s;
  margin-bottom: 10px;
}

.accordion-wrapper .accordion-item .accordion-panel {
  margin: 0;
  font-size: 14px;
  color: #333;
  text-align: justify;
}

.accordion-wrapper .accordion-item {
  background-color: transparent;
  border: none;
  border-top: 1px dashed #00000010;
}

.accordion-wrapper :first-child {
  border: none !important;
}

/* FLP */
.flp-button {
  margin-top: 10px;
  color: #fff;
  font-family: 'Heebo';
  letter-spacing: 1.2px;
  font-weight: 700 !important;
  border: 2px solid #222 !important;
  border-radius: 50px !important;
  background-color: #222;
  transition: all 0.2s;
  text-transform: uppercase;
  width: 100%;
  padding: 15px 30px;
}

.flp-button:hover:enabled {
  color: #222 !important;
  background-color: #fff !important;
}

.flp-button:disabled {
  background-color: #ccc;
  border: 2px solid #ccc !important;
}

.flp-button:hover:disabled {
  cursor: not-allowed;
}

.flp-dialog-title {
  margin: 0;
  font-weight: 800;
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
}

.flp-dialog-content {
  font-size: 16px;
  color: #333;
  font-weight: 300;
}

/* Header */
.header {
  overflow: hidden;
  background-color: transparent;
  padding: 10px 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.header a {
  float: left;
  color: #333;
  text-align: center;
  padding: 12px;
  font-size: 15px;
  line-height: 35px;
  cursor: pointer;
}

.header-links,
.header-button {
  margin-top: 15px;
  float: right;
  height: 60px;
}

.header-button {
  margin-left: 15px;
}

.header-button-sm {
  display: none;
}

.header-item {
  font-weight: 600;
  font-size: 14px;
  list-style: none;
  display: inline;
  text-transform: uppercase;
}

.header-link {
  font-weight: 600;
  display: inline;
  width: 85px;
}

.header-item.current > .header-link,
.header-item:hover > .header-link {
  background-image: -webkit-linear-gradient(
    110.78deg,
    rgb(118, 230, 80) 10.13%,
    rgb(249, 214, 73) 25.22%,
    rgb(240, 142, 53) 40.09%,
    rgb(236, 81, 87) 55.96%,
    rgb(255, 24, 189) 70.94%,
    rgb(26, 75, 255) 85.34%
  ) !important;
  background-image: linear-gradient(
    110.78deg,
    rgb(118, 230, 80) 10.13%,
    rgb(249, 214, 73) 25.22%,
    rgb(240, 142, 53) 40.09%,
    rgb(236, 81, 87) 55.96%,
    rgb(255, 24, 189) 70.94%,
    rgb(26, 75, 255) 85.34%
  ) !important;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 676px) {


  .header-element-centered {
    margin: auto;
  }

  .header-links,
  .header-button,
  .logo {
    float: none;
    text-align: center;
  }

  .logo {
    width: 100%;
    height: 60px;
    justify-content: center;
  }

  .standard-logo {
    position: relative;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    margin-left: calc(50% - 30px);
  }

  .header-button {
    margin: 0;
    display: none;
  }

  .header-links {
    height: auto;
    margin: auto;
  }


  .header-items{
    display: flex;
    text-align: center;
    width: min-content;
    margin: auto
  }

  .header-link {
    padding: 0 !important;
    margin: 0;
    width: 75px;
    font-size: 14px !important;
  }

  .header-button-sm {
    margin-top: 10px;
    display: block;
  }
}


/* * Donation * */
.donation-input{
  border-bottom: 2px solid black !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 180px !important;

}